@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --color-primary-light: #4c9aff;
  --color-primary: #0052cc;
  --color-primary-dark: #0747a6;
  --color-secondary: #42526e;
  --color-background: #f4f5f7;
  --color-surface: #ffffff;
  --color-text: #172b4d;
  --color-text-muted: #6b778c;
  --color-border: #dfe1e6;

  --font-inter: "Inter", "system-ui", "sans-serif";
}

:root {
  background-color: var(--color-background);
  color: var(--color-text);
}

body {
  margin: 0;
  font-family: var(--font-inter);
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-border);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--color-text-muted);
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--color-border) transparent;
}